streamlit==1.32.2
python-dotenv
langchain
langchain-community
langchain-core
langchain-chroma
langchain-groq
chromadb
sentence-transformers
beautifulsoup4
lxml
requests
huggingface-hub
torch
torchvision
asyncio
playwright